.wrapper{
    padding: 16px 0;  
    position: relative;

    &::after{
        content: "";
        position: absolute;
        left: 8px;
        right: 8px;
        top: 0px;
        height: 1px;
        background: rgba(22, 24, 35, 0.12);
        transform: scaleY(0.5);
    }
}

.heading{
    padding: 0px 8px;
    margin-bottom: 8px;
    font-size: 1.4rem;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.75)
}

.account-item{
    display: flex;
    flex-direction: row;
    height: 48px;
    padding: 8px;
    align-items: center;
    cursor: pointer;
    transition: background-color 200ms ease-in-out;
    border-radius: 4px;

    &:hover{
        background: rgba(22, 24, 35, 0.03);
    }
}

.avatar{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 12px;
}

.item-info{
    line-height: 1.2;
}

.nickname{
    color: rgb(22, 24, 35);
    font-size: 1.6rem;
    font-weight: 700;
}

.name{
    color: rgba(22, 24, 35, 0.75);
    font-size: 1.2rem;
    font-weight: 400;
}

.icon{
    margin-left: 4px;
    font-size: 1.4rem;
    color: #20D5EC;
}

.see-more-btn{
    color: var(--primary);
    background-color: transparent;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 0 8px;
    margin-top: 8px;
    cursor: pointer;
}
